.form {
  margin: 40px auto;
  padding: 50px 20px;
  width: 30%;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #eee;
}

.inputForm {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
}

.inputForm:last-of-type {
  margin-top: 20px;
}

.errors {
  color: red;
}
